



telegraph.co.uk
January 30, 2025 Thursday 6:09 PM GMT


Copyright 2025 Telegraph Media Group Holdings Limited All Rights Reserved


Section: BUSINESS; Version:1
Length: 499 words
Byline: By Matthew Field, Senior Technology Reporter
Highlight: DEI programmes are in retreat following a change in the political weather in Washington
Body


A professional body representing tens of thousands of UK insurance and pensions workers has dropped its   amid a growing corporate backlash against the schemes.
The Institute and Faculty of Actuaries, which represents thousands of mathematics experts who calculate risk for insurers, said it would not proceed with a proposal that would have required its members to “encourage diversity, equity, and inclusion”.
The body said that a consultation on its DEI programmes had found “strong support” for the “principles of belonging, fairness, respect, and to building a profession that is more representative of the society we live in”. However, a move to mandate DEI demands into its code of conduct had seen “opinions diverge”.
The institute said it would drop a plan to change its code of conduct and would also not implement separate DEI guidance, instead tweaking its current codes of conduct barring harassment and bullying.
It comes amid a gathering corporate backlash against diversity programmes, with some companies rolling back initiatives amid concerns they are unfair themselves. Technology companies including Meta and Amazon have ditched their DEI teams, while retailers Walmart and Target said they would drop diversity programmes.
DEI programmes are in retreat following a change in the political weather in Washington. The initiatives have come under . 
Mr Trump has taken an axe to US government diversity programmes, which he has criticised as “radical”. He told the World Economic Form last week that DEI policies were “absolute nonsense, throughout the government and the private sector”.
The president on Thursday blamed diversity policies under Barack Obama and Joe Biden for poor safety standards after a   plane over Washington.
Mr Trump said: “I put safety first. Obama, Biden and the Democrats put policy first. They actually came out with a directive: ‘Too white.’ And we want the people that are competent.”
Conservative activists have filed shareholder proposals at banks including Goldman Sachs and JP Morgan, urging them to review their DEI schemes.
However, some finance giants have defended their diversity metrics and targets.
Asked about shareholder activists at the World Economic Forum in Davos earlier this month, Jamie Dimon, the JP Morgan chief executive, said: “Well. Bring them on.” Christian Sewing, the chief executive of Deutsche Bank, said this week the bank stood “firmly behind” its DEI policies.
The Institute and Faculty of Actuaries trains, regulates and represents around 32,000 actuaries worldwide.
Actuarial science is crucial for calculating long-terms risks at insurers, pension plans and for government welfare programmes, helping to set prices and forecasting potential losses.
                     Recommended                   
'DEI is dead' as American businesses prepare for Trump presidency
Classification


Language: ENGLISH

Publication-Type: Newspaper; Web Publication

Journal Code: WEBDTNS

Subject: DIVERSITY & INCLUSION (91%); BUSINESS & PROFESSIONAL ASSOCIATIONS (90%); HOLDING COMPANIES (90%); WORKPLACE DIVERSITY & INCLUSION (90%); ETHICS (89%); EXECUTIVES (89%); POLITICAL PARTIES (89%); SAFETY (89%); SHAREHOLDERS (89%); ACTIVISM (78%); ACTIVIST INVESTORS (78%); POLITICAL ACTIVISM (78%); SAFETY STANDARDS (78%); US DEMOCRATIC PARTY (78%); US REPUBLICAN PARTY (78%); WORKPLACE HEALTH & SAFETY (78%); SAFETY REGULATION & POLICY (77%); BULLYING (74%); FORTUNE 500 COMPANIES (74%); PRICES (71%); ECONOMY & ECONOMIC INDICATORS (69%); INTERNATIONAL ECONOMIC ORGANIZATIONS (69%); AIRCRAFT ACCIDENTS (68%); INCOME ASSISTANCE (68%); SAFETY, ACCIDENTS & DISASTERS (68%); WELFARE BENEFITS (68%); TECHNOLOGY (67%); STANDARDS & MEASUREMENTS (63%)

Company:  GOLDMAN SACHS GROUP INC (58%);  JPMORGAN CHASE & CO (52%);  DEUTSCHE BANK AG (52%)

Ticker: GS (NYSE) (58%); JPM (LSE) (52%); JPM (NYSE) (52%); DB (NYSE) (52%); DBETN (JSE) (52%); DBK (BIT) (52%); DBK (FRA) (52%); DEUT (JSE) (52%)

Industry: NAICS523150 INVESTMENT BANKING AND SECURITIES INTERMEDIATION (58%); NAICS523940 PORTFOLIO MANAGEMENT AND INVESTMENT ADVICE (58%); SIC6211 SECURITY BROKERS, DEALERS, & FLOTATION COMPANIES (58%); SIC6282 INVESTMENT ADVICE (58%); SIC6289 SERVICES ALLIED WITH THE EXCHANGE OF SECURITIES OR COMMODITIES, NEC (58%); SIC6798 REAL ESTATE INVESTMENT TRUSTS (58%); NAICS522110 COMMERCIAL BANKING (52%); NAICS523999 MISCELLANEOUS FINANCIAL INVESTMENT ACTIVITIES (52%); NAICS551111 OFFICES OF BANK HOLDING COMPANIES (52%); SIC6022 STATE COMMERCIAL BANKS (52%); SIC6712 OFFICES OF BANK HOLDING COMPANIES (52%); SIC6081 BRANCHES & AGENCIES OF FOREIGN BANKS (52%); ACTUARIAL SERVICES (89%); INSURANCE (89%); ACTIVIST INVESTORS (78%); MEDIA & TELECOMMUNICATIONS (74%); RETAIL & WHOLESALE TRADE (74%); DISCOUNT & CLUB STORES (71%); AIRCRAFT ACCIDENTS (68%); HELICOPTERS (63%); MILITARY HELICOPTERS (50%)

Person: BARACK OBAMA (89%); DONALD TRUMP (89%); JOE BIDEN (79%); JAMES DIMON (50%)

Geographic: UNITED STATES (94%); SWITZERLAND (69%)

Load-Date: January 30, 2025


End of Document
